<?xml version="1.0"?>
<datasource xmlns="urn:datasources">
  <datasources>
    <!-- Optional ( default ) -->
    <atom-datasource
      name="group_test_1"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
    <atom-datasource
      name="group_test_2"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
    <atom-datasource
      name="group_test_3"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />

    <atom-datasource
      name="group_test_1_001"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
    <atom-datasource
      name="group_test_2_001"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
    <atom-datasource
      name="group_test_3_001"
      provider="sqlServer4.0"
      property="sqlServer"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
    <atom-datasource
      name="group_test_4"
      provider="MySql"
      property="MySql"
      connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"
      />
  </datasources>
</datasource>

