<?xml version="1.0" encoding="utf-8" ?>
<context>
  <resource uri="file://~/App_Data/Config/Spring/persistence.config"/>
  <resource uri="file://~/App_Data/Config/Spring/persistence.test.config"/>
  <!--
 
  
  <resource uri="file://~/App_Data/Config/Spring/facade.config"/>
  <resource uri="file://~/App_Data/Config/Spring/service.config"/>
  -->
  
</context>