<objects xmlns="http://www.springframework.net">


  <object id="ShtSacrificeService" type="DBLayer.Test.ShtSacrificeService, DBLayer.Test" singleton="false" >
    <constructor-arg name="dbContext" ref="SqlDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>
  
  <object id="SysUserService" type="DBLayer.Test.SysUserService, DBLayer.Test" singleton="false" >
    <constructor-arg name="dbContext" ref="SqlDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>
  
  <object id="SysLogService" type="DBLayer.Test.SysLogService, DBLayer.Test" singleton="false" >
    <constructor-arg name="dbContext" ref="SqlDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>
  
  <object id="OracleUserService" type="DBLayer.Test.OracleUserService, DBLayer.Test" singleton="false" >
    <constructor-arg name="dbContext" ref="OracleDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>
  
  <object id="DynamicChanelService" type="DBLayer.Test.DynamicChanelService, DBLayer.Test" singleton="false" >
    <constructor-arg name="dbContext" ref="OracleDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>

  
  <object id="MySqlUserService" type="DBLayer.Test.MySqlUserService, DBLayer.Test" parent="mysqlAbstractService" singleton="false" >
    <constructor-arg name="dbContext" ref="MySqlDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>

  <object id="OptionService" type="DBLayer.Test.OptionService, DBLayer.Test" parent="mysqlAbstractService" singleton="false" >
    <constructor-arg name="dbContext" ref="MySqlDbContext"/>
    <constructor-arg name="loggerFactory" ref="CommonLoggerFactory"/>
  </object>
  
</objects>