<objects xmlns="http://www.springframework.net">

  <object id="sql_aaa_string" type="DBLayer.Persistence.ConnectionString, DBLayer.Persistence" singleton="true">
    <constructor-arg name="properties" >
      <name-values>
        <add key="userid" value="sa" />
        <add key="password" value="123qweASD" />
        <add key="passwordKey" value="" />
        <add key="database" value="sh_data" />
        <add key="datasource" value="." />
      </name-values>
    </constructor-arg>
    <constructor-arg name="connectionToken" value="Password=${password};Persist Security Info=True;User ID=${userid};Initial Catalog=${database};Data Source=${datasource};pooling=true;min pool size=5;max pool size=10"/>
    
    <!--<property name="Properties">
      <name-values>
        <add key="userid" value="sa" />
        <add key="password" value="123qweASD" />
        <add key="passwordKey" value="" />
        <add key="database" value="sh_data" />
        <add key="datasource" value="." />
      </name-values>
    </property>
    <property name="ConnectionToken" value="Password=${password};Persist Security Info=True;User ID=${userid};Initial Catalog=${database};Data Source=${datasource};pooling=true;min pool size=5;max pool size=10" />-->
    
  </object>

  <object id="oracle_bbb_string" type="DBLayer.Persistence.ConnectionString, DBLayer.Persistence" singleton="true">
    <constructor-arg name="properties" >
      <name-values>
        <add key="userid" value="BBB_TEST" />
        <add key="password" value="BBB_TEST" />
        <add key="passwordKey" value="" />
        <add key="datasource" value="BBB" />
      </name-values>
    </constructor-arg>
    <constructor-arg name="connectionToken" value="Data Source=${datasource};User Id=${userid};Password=${password};Pooling=true; Min Pool Size=0; Max Pool Size=100;"/>

    
    <!--<property name="Properties" >
      <name-values>
        <add key="userid" value="BBB_TEST" />
        <add key="password" value="BBB_TEST" />
        <add key="passwordKey" value="" />
        <add key="datasource" value="BBB" />
      </name-values>
    </property>
    <property name="ConnectionToken" value="Data Source=${datasource};User Id=${userid};Password=${password};Pooling=true; Min Pool Size=0; Max Pool Size=100;" />-->
  </object>

  <object id="mysql_ccc_string" type="DBLayer.Persistence.ConnectionString, DBLayer.Persistence" singleton="true">
    <constructor-arg name="properties" >
      <name-values>
        <add key="userid" value="ccc" />
        <add key="password" value="ccc" />
        <add key="passwordKey" value="" />
        <add key="database" value="ccc" />
        <add key="datasource" value="127.0.0.1" />
      </name-values>
    </constructor-arg>
    <constructor-arg name="connectionToken" value="Server=${datasource};Database=${database};Uid=${userid};Pwd=${password};"/>

    
    <!--<property name="Properties" >
      <name-values>
        <add key="userid" value="ccc" />
        <add key="password" value="ccc" />
        <add key="passwordKey" value="" />
        <add key="database" value="ccc" />
        <add key="datasource" value="127.0.0.1" />
      </name-values>
    </property>
    <property name="ConnectionToken" value="Server=${datasource};Database=${database};Uid=${userid};Pwd=${password};" />-->
  </object>
  
  
  <object id="SqlProvider" type="DBLayer.Persistence.Data.DbProvider, DBLayer.Persistence" singleton="true" >
    <property name="ProviderName" value="System.Data.SqlClient" />
    <property name="ParameterPrefix" value="@" />
    <property name="SelectKey" value="SELECT @@IDENTITY;" />
  </object>

  <object id="OracleProvider" type="DBLayer.Persistence.Data.DbProvider, DBLayer.Persistence" singleton="true" >
    <property name="ProviderName" value="System.Data.OracleClient" />
    <property name="ParameterPrefix" value=":" />
    <property name="SelectKey" value="" />
  </object>
  
  <object id="MySqlProvider" type="DBLayer.Persistence.Data.DbProvider, DBLayer.Persistence" singleton="true" >
    <property name="ProviderName" value="MySql.Data.MySqlClient" />
    <property name="ParameterPrefix" value="@" />
    <property name="SelectKey" value="SELECT @@IDENTITY;" />
  </object>

  
  <object id="SqlDataSource" type="DBLayer.Persistence.Data.DataSource, DBLayer.Persistence" singleton="false">
    <property name="ConnectionString" ref="sql_aaa_string" />
    <property name="DbProvider" ref="SqlProvider" />
  </object>

  <object id="OracleDataSource" type="DBLayer.Persistence.Data.DataSource, DBLayer.Persistence" singleton="false">
    <property name="ConnectionString" ref="oracle_bbb_string" />
    <property name="DbProvider" ref="OracleProvider" />
  </object>

  <object id="MySqlDataSource" type="DBLayer.Persistence.Data.DataSource, DBLayer.Persistence" singleton="false">
    <property name="ConnectionString" ref="mysql_ccc_string" />
    <property name="DbProvider" ref="MySqlProvider" />
  </object>
  
  <object id="uuidGenerator" type="DBLayer.Persistence.Generator.UUIDGenerator, DBLayer.Persistence" singleton="true" >
    <!--workerId:区域(机房):3 bits-->
    <constructor-arg name="workerId" value="1"/>
    <!--regionId:机器编号:10 bits-->
    <constructor-arg name="regionId" value="1"/>
    <!--twepoch:基准时间:Thu, 04 Nov 2010 01:42:54 GMT-->
    <!--(long)(DateTime.UtcNow - new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds-->
    <constructor-arg name="twepoch" value="1288834974657"/>
  </object>
  <!--<object id="duidGenerator" type="Framework.Persistence.Generator.DUIDGenerator, Framework.Persistence" abstract="true" singleton="true" >
  </object>
  <object id="guidGenerator" type="Framework.Persistence.Generator.GUIDGenerator, Framework.Persistence" abstract="true" singleton="true" >
  </object>-->
  
  <object id="sqlServerPagerGenerator" type="DBLayer.Persistence.PagerGenerator.SqlServerPagerGenerator, DBLayer.Persistence" singleton="true" >
  </object>
  <object id="oraclePagerGenerator" type="DBLayer.Persistence.PagerGenerator.OraclePagerGenerator, DBLayer.Persistence" singleton="true" >
    <property name="CursorName" value="OracleType" />
    <property name="CursorValue" expression="T(System.Data.OracleClient.OracleType, System.Data.OracleClient).Cursor" />
  </object>
  <object id="mySqlPagerGenerator" type="DBLayer.Persistence.PagerGenerator.MySqlPagerGenerator, DBLayer.Persistence" singleton="true" >
  </object>
  <!--数据库操作父类-->
  <object id="abstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" parent="SqlDataSource" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
    <property name="ThePagerGenerator" ref="sqlServerPagerGenerator" />
  </object>
  
  <object id="sqlAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" parent="SqlDataSource" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
    <property name="ThePagerGenerator" ref="sqlServerPagerGenerator" />
  </object>
  
  <object id="oracleAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" parent="OracleDataSource" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
    <property name="ThePagerGenerator" ref="oraclePagerGenerator" />
  </object>
  
  <object id="mysqlAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence"  parent="MySqlDataSource" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
    <property name="ThePagerGenerator" ref="mySqlPagerGenerator" />
  </object>
  
  <!--数据库操作父类-->
  <!--
  <object id="UUIDAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
  </object>
  -->
  <!--数据库操作父类-->
  <!--
  <object id="DUIDAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
  </object>
  -->
  <!--数据库操作父类-->
  <!--
  <object id="GUIDAbstractService" type="DBLayer.Persistence.AbstractService, DBLayer.Persistence" abstract="true" singleton="false" >
    <property name="TheGenerator" ref="uuidGenerator" />
  </object>-->
</objects>