<?xml version="1.0"?>
<datasource xmlns="urn:datasources">
  <datasources>
    <!-- Optional ( default ) -->
    <atom-datasource
      name="SqlDataSource"
      provider="SqlProvider"
      property="sql_xcrm"
      connectionString="Password=${password};Persist Security Info=True;User ID=${userid};Initial Catalog=${database};Data Source=${datasource};pooling=true;min pool size=5;max pool size=10"
      />
    <atom-datasource
      name="OracleDataSource"
      provider="OracleProvider"
      property="oracle_bench"
      connectionString="Data Source=${datasource};User Id=${userid};Password=${password};Pooling=true; Min Pool Size=0; Max Pool Size=100;"
      />
    <atom-datasource
      name="MySqlDataSource"
      provider="MySqlProvider"
      property="mysql_qingbang"
      connectionString="Server=${datasource};Database=${database};Uid=${userid};Pwd=${password};"
      />

    
  </datasources>
</datasource>

