<?xml version="1.0"?>
<provider xmlns="provider">
  <providers>
    <provider
     name="SqlProvider"
     providerName="System.Data.SqlClient"
     parameterPrefix="@"
     selectKey="SELECT @@IDENTITY;"
     />
    <provider
     name="OracleProvider"
     providerName="System.Data.OracleClient"
     parameterPrefix=":"
     selectKey=""
     />
    <provider
     name="MySqlProvider"
     providerName="MySql.Data.MySqlClient"
     parameterPrefix="@"
     selectKey="SELECT @@IDENTITY;"
     />
  </providers>
</provider>
